.btn {
    display: inline-block;
    text-align: center;
    padding: 5px 15px;
}

.primary{
    background-color: rgb(88, 88, 235);
    color: #FFFFFF;
}

.ghost {
    color: rgb(88, 88, 235);
    border: 1px solid rgb(88, 88, 235);
    background-color: transparent;
}

.arrow {
    color: red;
}